<div class="row">

  <div class="col-12">

    <app-primedatatable
      [modalHeader]="header"
      [columns]="columns"
      [data]="tableData"
      [searchPlaceholder]="searchPlaceholder"
      [Accessactions]="actions"
      (addClicked)="openCreateModal()"
      (actionClick)="onTableAction($event)">

    </app-primedatatable>

  </div>

</div>


<!-- =========================================================
     COMMON MODAL
========================================================= -->

<div
  class="modal fade"
  tabindex="-1"
  #departmentModal>

  <div class="modal-dialog">

    <div class="modal-content">


      <!-- =====================================================
           HEADER
      ====================================================== -->

      <div class="modal-header">

        <h5 class="modal-title  fs-4">

          @if (modalType === 'add') {
            {{ header.title }} Creation
          }

          @if (modalType === 'edit') {
            Edit {{ header.title }}
          }

        </h5>


        <button
          type="button"
          class="btn-close-custom"
          (click)="onClose()"
          aria-label="Close">

          <i class="ti ti-x"></i>

        </button>

      </div>


      <!-- =====================================================
           BODY
      ====================================================== -->

      <div class="modal-body">

        <form [formGroup]="departmentForm">


          <!-- ================================================
               DEPARTMENT
          ================================================= -->

          @if (masterType === 'department') {

            <div class="mb-3">

              <label class="form-label required-label">
                Department Name
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="departmentName"
                placeholder="Enter department name"
                autocomplete="off">

            </div>

          }


          <!-- ================================================
               TEAM
          ================================================= -->

          @if (masterType === 'team') {

            <div class="mb-3">

              <label class="form-label required-label">
                Team Name
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="departmentName"
                placeholder="Enter team name"
                autocomplete="off">

            </div>


            <div class="mb-3">

              <label class="form-label required-label">
                Department
              </label>

              <p-select
                [options]="departmentData"
                formControlName="status"
                optionLabel="department"
                optionValue="department"
                placeholder="Select Department"
                [filter]="true"
                filterBy="department"
                [showClear]="true"
                appendTo="body"
                styleClass="w-100">

              </p-select>

            </div>

          }


          <!-- ================================================
               DOCUMENT
          ================================================= -->

          @if (masterType === 'document') {

            <div class="mb-3">

              <label class="form-label required-label">
                Document Name
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="departmentName"
                placeholder="Enter document name"
                autocomplete="off">

            </div>

          }


          <!-- ================================================
               POSITION
          ================================================= -->

          @if (masterType === 'position') {

            <div class="mb-3">

              <label class="form-label required-label">
                Position Name
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="departmentName"
                placeholder="Enter position name"
                autocomplete="off">

            </div>

          }


          <!-- ================================================
               STATUS
          ================================================= -->

          <div class="mb-3">

            <label class="form-label required-label">
              Status
            </label>

            <p-select
              [options]="statusOptions"
              formControlName="status"
              optionLabel="label"
              optionValue="value"
              placeholder="Select Status"
              [filter]="true"
              filterBy="label"
              filterPlaceholder="Search status..."
              [showClear]="true"
              [resetFilterOnHide]="true"
              appendTo="body"
              styleClass="w-100">

            </p-select>

          </div>


        </form>

      </div>


      <!-- =====================================================
           FOOTER
      ====================================================== -->

      <div class="modal-footer">

        <button
          type="button"
          class="btn btn-cancel"
          (click)="onClose()">

          <i class="ti ti-refresh"></i>

          Cancel

        </button>


        <button
          type="button"
          class="btn btn-save"
          (click)="saveBtn()">

          <i class="ti ti-device-floppy"></i>

          {{ modalType === 'add' ? 'Save' : 'Update' }}

        </button>

      </div>


    </div>

  </div>

</div>