<div class="modal fade master-modal" tabindex="-1" #masterModal aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- =====================================================
           HEADER
      ====================================================== -->

      <div class="modal-header">

        <h5 class="modal-title">
          {{ getTitle() }}
        </h5>


        <button type="button" class="btn-close-custom" (click)="close()" aria-label="Close">

          <i class="ti ti-x"></i>

        </button>

      </div>


      <!-- =====================================================
           BODY
      ====================================================== -->

      <div class="modal-body">

        <form [formGroup]="masterForm">


          <!-- =================================================
               DYNAMIC FIELDS
          ================================================== -->

          @for (
          field of currentFields;
          track field.name;
          let i = $index
          ) {

          <div class="form-field" [style.--field-index]="i">


            <!-- LABEL -->

            <label class="form-label" [for]="field.name">

              {{ field.label }}

            </label>


            <!-- =================================================
                   FIELD TYPE
              ================================================== -->

            @switch (field.type) {


            <!-- =================================================
                     TEXT
                ================================================== -->

            @case ('text') {

            <input class="form-control master-input" [id]="field.name" type="text" [formControlName]="field.name"
              [placeholder]="field.placeholder || ''" [attr.maxlength]="field.maxlength || null" autocomplete="off">

            }


            <!-- =================================================
                     NUMBER
                ================================================== -->

            @case ('number') {

            <input class="form-control master-input" [id]="field.name" type="number" [formControlName]="field.name"
              [placeholder]="field.placeholder || ''" [attr.min]="field.min ?? null" autocomplete="off">

            }


            <!-- =================================================
                     PRIME SELECT
                ================================================== -->

            @case ('select') {

            <app-select class="master-select" [formControlName]="field.name" [options]="field.options || []" optionLabel="label" optionValue="value" [placeholder]="field.placeholder || 'Select'" />

            }


            @case ('checkbox') {

            <div class="capabilities-wrapper" [formGroupName]="field.name">

              @for (opt of field.checkboxOptions; track opt.key) {

              <label class="capability-item">

                <input type="checkbox" [formControlName]="opt.key" />

                <span class="checkmark"></span>

                <span class="capability-label">{{ opt.label }}</span>

              </label>

              }

            </div>

            @if (hasError(field.name)) {
            <small class="field-error">Select at least one option</small>
            }

            }

            }

          </div>

          }


          <!-- =================================================
               STATUS
          ================================================== -->

          <div class="form-field status-field" [style.--field-index]="currentFields.length">

            <label class="form-label" for="status"> Status </label>


            <app-select class="master-select" inputId="status" formControlName="status" [options]="statusOptions" optionLabel="label" optionValue="value" placeholder="Select status" />

          </div>


        </form>

      </div>


      <!-- =====================================================
           FOOTER
      ====================================================== -->

      <div class="modal-footer">


        <!-- CANCEL -->

        <button type="button" class="btn btn-cancel" (click)="close()">

          <i class="ti ti-refresh"></i> Cancel


        </button>


        <!-- SAVE / UPDATE -->

        <button type="button" class="btn btn-save" (click)="save()">

          <i class="ti ti-device-floppy"></i>

          <span>
            {{ modalType === 'add' ? 'Save' : 'Update' }}
          </span>

        </button>


      </div>


    </div>

  </div>

</div>